[submodule "terraform-labs"]
    active = true
	path = terraform-labs
	url = https://github.com/shiyis/terraform-labs.git
[submodule "pac-cands-git-scraping"]
	path = pac-cands-git-scraping
	url = https://github.com/shiyis/pac-cands-git-scraping
[submodule "aws-data-pipline-lambda-cd"]
	path = aws-data-pipline-lambda-cd
	url = https://github.com/shiyis/aws-data-pipline-lambda-cd.git
[submodule "dra-data"]
	path = dra_data
	url = https://github.com/shiyis/dra_data.git
